

#header, #footer {
    position:fixed;
    height: 40px;
    display:block;
    width: 100%;
    background: white;
    z-index:9;
    padding: 5px;
}

#header {
    top:0px;
}

#footer {
    bottom:0px;
}

.logo-container {
    width: 30%;
    float: left;
}

.logo {
    height: 90%;
}

#nav-container {
    height: 100%;
    vertical-align: top;
}

#nav-bar{
	 background-color: #909193;
}

#nav-bar .nav-tab{
	padding: 10px 12px;
}

#nav-bar .active .case-name{
	color:#FFFFFF;
}

#header-options {
    position: absolute;
    right: 0px;
    width: 20%;
    float: right;
}

.heading {
    margin-left: auto; 
    margin-right: auto;
    width: 400px;
    text-align: center;
}

.fp-next {
    right: 50px !important;
}

.fp-prev {
    left: 50px !important;
}

.case-container{
}

.case-tagline {
	color: #D61D1A;
	font-size: 200%;
}

.case-icon{
	fill:#474747;
	width:40px;
	height: 40px;
}

.case-name{
	float: right;
	font-size:16px;
	margin-top: 12px;
	margin-left: 2px;
	color:#474747;
}

.case-icon-categorization{
	fill:#FFFFFF;
}

#item-container{
	margin-right: auto;
	margin-left: auto;
	background-color: #FF0000;
}