

#header, #footer {
    position:fixed;
    height: 40px;
    display:block;
    width: 100%;
    background: white;
    z-index:9;
    padding: 5px;
}

#header {
    top:0px;
}

#footer {
    bottom:0px;
}

.logo-container {
    width: 30%;
    float: left;
}

.logo {
    height: 90%;
}

#nav-container {
    height: 100%;
    vertical-align: top;
}

#header-options {
    position: absolute;
    right: 0px;
    width: 20%;
    float: right;
}

.heading {
    margin-left: auto; 
    margin-right: auto;
    width: 400px;
    text-align: center;
}

.fp-next {
    right: 50px !important;
}

.fp-prev {
    left: 50px !important;
}

.case-container{
	padding: 20px;
}

.case-tagline {
	color: #D61D1A;
	font-size: 200%;
}

.case-icon-categorization{
	fill:#FFFFFF;
}
.case-icon-collection {
          fill: #474747;
        }